{% extends "videos/base.html" %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}

<style>
    .channel-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    padding-top: 12px;
    border-top: 1px solid #303030;
}

.channel-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.channel-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: inherit;
}
.subscribe-btn {
    background: #cc0000;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.like-btn {
    background: #303030;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.like-btn.liked {
    background: #065fd4;
}

</style>

<div class="container"><div class="container" style="max-width:500px; margin-left:1em;">    
    
    <!-- MAIN VIDEO -->
    <h2>{{ video.title }}</h2>
    
    <video controls autoplay style="width:100%; max-width:800px;">
        <source src="{{ video.video_file.url }}" type="video/mp4">
    </video>
    
    <!-- <p>Uploaded by {{ video.user.username }}</p> -->
    <div class="channel-row">
        <div class="channel-info">
            <div class="channel-avatar">
                {{ video.user.username|first|upper }}
            </div>
            <div>
                <a href="{% url 'user_profile' video.user.username %}">
                    <strong>{{ video.user.username }}</strong><br>
                </a>
                <small style="color:#aaa;">Number of Subscribers</small>
            </div>
        </div>
        
        <div class="action-row">
            <button id="likeBtn" class="like-btn">
                👍 <span id="likeCount">{{ video.likes.count }}</span>
            </button>
            
            <button id="subscribeBtn" class="btn subscribe">Subscribe</button>
            {% if current_video.is_premium %}
            <a href="{% url 'subscription_plans' %}" class="premium-btn">
                Join Premium
            </a>
            {% endif %}
        </div>
    </div>
    
    
    <h3>More Videos</h3>
    
    {% for v in suggested_videos %}
    <div style="margin-bottom:10px;">
        <a href="{% url 'video_detail' v.id %}">
            ▶ {{ v.title }}
        </a>
    </div>
    {% empty %}
    <p>No other videos.</p>
    {% endfor %}
    
</div>

{% endblock %}

<video controls>
    <source src="{% url 'stream_video' video.id %}" type="video/mp4">
</video>
