<!-- {% extends "videos/base.html" %}

{% block content %}
<div style="max-width:500px; margin-left:1em;" class="container">

    <h2>Upload Video</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Video Title</label><br>
        {{ form.title }}<br><br>

        <label>Upload Video</label><br>
        {{ form.video_file }}<br><br>

        <button type="submit"
                style="background:#ff0000;color:white;
                       padding:5px 20px;border:none;
                       border-radius:20px;">
            Upload Video
        </button>

        <a href="{% url 'home' %}" style="margin-left:15px;">
            Cancel
        </a>
    </form>

</div>
{% endblock %} -->
